


.logo{
    height: 100px;
    margin-top:25px;
   float: left;
    margin-left: 25px;    

}

header{
    background-image: linear-gradient(to right, rgb(126, 185, 233, 1), rgba(126,185,233,0)), url("bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;

}

ul{
    list-style: none;
    float: right;
    margin: 65px;


}

li{
    display: inline;
    margin: 10px;
    border: 2px solid purple;
    border-radius:5px;
    padding:5px;

}

li:hover{
    cursor: pointer;
    border:2px solid goldenrod;
    background-color: bisque;
    transition: all 0.3s ease-in;

}

#mainmessage{
    position: absolute;
    top:50%;
    margin-left: 25px;
    font-size: 250%;
    color:darkred;
}

.button{
    text-decoration: none;
    border:2px solid purple;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

#actions{
    margin-top:25px;
}

.button:hover{
    border:2px solid goldenrod;
    color:red;
    background-color: antiquewhite;
    transition: all 0.3s ease-out;
}